In [1]:
import pandas as pd
import pylab as plt
pd.set_option('display.float_format', lambda x: '%.0F' % x)

In [2]:
def monthly_payment(loan, percentage, period):
    month_perc = percentage/12
    monthly_payment = loan * (month_perc * (1+ month_perc)**(period*12))/((1+ month_perc)**(period*12)-1)
    return(monthly_payment)

In [3]:
def plotting(df_low_period):
    plt.plot(range(df_low_period.shape[0]), df_low_period.debt, label = 'Проценты')
    plt.plot(range(df_low_period.shape[0]), df_low_period.mainloan, label = 'Основной платеж')
    #plt.plot(range(df_low_period.shape[0]), df_low_period.shape[0] * [df_low_period.mainloan.max()], 'r--')
    #plt.plot(range(df_low_period.shape[0]), df_low_period.shape[0] * [df_low_period.debt.min()], 'g--')
    plt.title('Проценты и основной долг')
    plt.legend()
    plt.show()

In [4]:
period = 20
percentage = 0.05
loan = 7000000
payment = 56500
bov = [31892, 481193, 204200, 157000]
bov_month = [240, 239, 238, 232]

bov_df = pd.DataFrame(bov, index=bov_month, columns = ['bigoverpay'])
report_num = 0
mortgage_report = pd.DataFrame(columns=['year', 'month', 'm_payment', 'percent', 'main_l', 'overpay', 'big_overpay',
                                        'realpay_on_debt', 'payment' ,'loan'])

for i in range(period , 0 , -1):
    for j in range(i*12 , (i-1)*12 , -1):
        if j in bov_month:
            m = bov_df.loc[j].values[0]
        else:
            m = 0
        mp = monthly_payment(loan, percentage, j/12)
        percent = percentage/12 * loan
        main_l = mp - percent
        overpay = payment - mp
        real_pay_on_debt = main_l + overpay + m
        #print(i, j, monthly_payment(loan, percentage, j/12), percent, main_l, loan)
        mortgage_report.loc[report_num] = [i, j, monthly_payment(loan, percentage, j/12), percent, main_l, overpay, m,
                                           real_pay_on_debt, payment + m, loan]
        report_num += 1
        loan -= real_pay_on_debt    

mortgage_report['payment_downgrade'] = mortgage_report['m_payment'] - mortgage_report['m_payment'].shift()

col = list(mortgage_report.columns)
col = col[:3] + col[-1:]  + col[4:-1]
mortgage_report = mortgage_report[col]

mortgage_report.head(26)

,year,month,m_payment,payment_downgrade,main_l,overpay,big_overpay,realpay_on_debt,payment,loan
0,20,240,46197,NAN,17030,10303,31892,59225,88392,7000000
1,20,239,45918,-279,16998,10582,481193,508773,537693,6940775
2,20,238,42656,-3261,15856,13844,204200,233900,260700,6432002
3,20,237,41207,-1450,15381,15293,0,30675,56500,6198102
4,20,236,41105,-102,15407,15395,0,30802,56500,6167427
5,20,235,41002,-103,15433,15498,0,30931,56500,6136625
6,20,234,40898,-104,15458,15602,0,31060,56500,6105694
7,20,233,40793,-105,15482,15707,0,31189,56500,6074634
8,20,232,40688,-106,15507,15812,157000,188319,213500,6043445
9,20,231,39521,-1166,15125,16979,0,32104,56500,5855126
10,20,230,39406,-115,15144,17094,0,32237,56500,5823023
11,20,229,39290,-116,15162,17210,0,32372,56500,5790785
12,19,228,39173,-117,15180,17327,0,32507,56500,5758413
13,19,227,39055,-118,15197,17445,0,32642,56500,5725907
14,19,226,38936,-119,15214,17564,0,32778,56500,5693265
15,19,225,38815,-120,15230,17685,0,32915,56500,5660487
16,19,224,38694,-122,15245,17806,0,33052,56500,5627572
17,19,223,38571,-123,15260,17929,0,33189,56500,5594520
18,19,222,38447,-124,15275,18053,0,33328,56500,5561331
19,19,221,38322,-125,15288,18178,0,33467,56500,5528003
20,19,220,38195,-126,15302,18305,0,33606,56500,5494536
21,19,219,38068,-128,15314,18432,0,33746,56500,5460930
22,19,218,37939,-129,15326,18561,0,33887,56500,5427184
23,19,217,37809,-130,15337,18691,0,34028,56500,5393297
24,18,216,37677,-131,15347,18823,0,34170,56500,5359270
25,18,215,37545,-133,15357,18955,0,34312,56500,5325100